
/* ApiButton  */
/* to be continued */
.apiButton {
    background-color: #3a6df0;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    /* white-space: nowrap; */
  }
  .apiButton:disabled {
    background-color: #3a6ef04f;
    border: none;
    padding: 8px 26px;
    color: rgba(255, 255, 255, 0.096);
    border-radius: 20px;
    margin-top: 16px;
    cursor: default;
    transition: 0.3s;
    /* white-space: nowrap; */
  }
  