.contentWrapperHeaderSearchpage {
    display: flex;
    align-items: center;
    /*  */
    /* width: 100%; */
    justify-content: space-between;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png"),
     linear-gradient(
      to right top,
      #cf4af3,
      #e73bd7,
      #f631bc,
      #fd31a2,
      #ff3a8b,
      #ff4b78,
      #ff5e68,
      #ff705c,
      #ff8c51,
      #ffaa49,
      #ffc848,
      #ffe652
     );
    border-radius: 14px;
    padding: 20px 40px;
    transition: all 0.3s ease-in-out;
    /* transform: translateX(0) translateY(-20vh); */
    /* z-index: -20; */
    position: fixed;
    z-index: -20;
    width: 100vh;
    height: 0vh;
    opacity: 0;

  }

.contentWrapperHeaderSearchpage__isopen {
  position: fixed;
  transition: all 0.5s ease-in-out;
  /* transform: translateX(0) translateY(0vh); */
  z-index: 1;  
  width: 100vh;
  height: 30vh;
  opacity: 1;
}


.DrawerContainer {
  width: 245%;
  height: 200px ;
  display: flex;
  flex-direction: column; 
  overflow-x: scroll;
}


.appCardOne {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    background-color: rgba(14, 151, 179, 0.13);
    border-radius: 14px;
    border: 1px solid rgba(16, 18, 27, 0.4);
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    /* margin-left: 20px; */
  }
  

.appCardOne:hover {
  transform: scale(1.005);
  background-color: rgba(16, 18, 27, 0.4);
}

.appCardOneSubtext {
  font-size: 18px;
}

.appCardOneSubtextRow {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.appCardOneSubtextRow:hover {
  opacity: 0.6;
}

.appCardOneSubtextRow p {
  width: 30%;
}
